apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "gh-org-checks.fullname" . }}
  labels:
    {{- include "gh-org-checks.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "gh-org-checks.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "gh-org-checks.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          env:
            - name: GITHUB_ORG_NAME
              value: "catenax-ng"
            - name: GITHUB_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: github-access-secret
                  key: accessToken
